<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>University : {{ tempat_kuliah }}</article>
    <article>Hobby : {{ hobi }}</article>
    <article>Deskripsi diri : {{ deskripsi_diri }}</article>
    <img src="http://www.about.tarung2017.com/foto/711.jpg">
</body>
</html>
